/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* common styles */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(221, 203, 203);
}
/* top banner styles */
.top-banner{
    width: 100%;
    height: 524px;
    background-color: #2D25A0;
}
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}
.banner-container .banner-image img{
    width: 556px;
    height: 438px;
}
.top-banner:hover  .banner-image{
    transform: scale(110%);
}
.banner-title{
    color: #ffffff;
    font-size: 64px;
}
.top-banner:hover .banner-title{
    transform: scale(110%);
}
.banner-button{
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    border-radius: 22px;
    background-color: #E02C6D;
    color: #ffffff;
    font-size: 18px;
}
/* top players styles */
.top-players{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.players{
    width: 80%;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.player{
    width: 330px;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.top-players .players .player img{
    width: 290px;
    height: 290px;
    border-radius: 5px;
}
.player-name{
    font-size: 20px;
}
.player-details{
    padding: 0 15px;
}
.player-details p{
    font-size: 13px;
}
/* copa champ styles */
.copa-champ{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.champ-container{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}
.champ-container .champ-image img{
    width: 567px;
    height: 427px;
    border-radius: 5px;
}
.champ-info{
    padding:  0px 30px;
}
.champ-title{
    font-size: 40px;
}
.cyan-text{
    color: cyan;
}
/* ballon dor styles */
.ballon-dor{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.ballon-container{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}
.ballon-container .winner-image img{
    width: 567px;
    height: 427px;
    border-radius: 5px;
}
.winner-info{
    padding:  0px 30px;
}
.winner-title{
    font-size: 40px;
}
.golden-text{
    color: goldenrod;
}

/* footer styles */
.footer{
    width: 100%;
    height: 220px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container{
    width: 483;
    height: 213px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-container .footer-logo img{
    width: 483px;
    height: 110px;
}
.social-icons i{
    width: 32px;
    height: 32px;
    font-size: 30px;
    margin-right: 15px;
}
/* media queries */
/* media query for mobile devices */
@media only screen and (max-width:688px){
    .top-banner{
        height: 695px;
    }
    .banner-container{
        flex-direction: column;
        align-items: center;
    }
    .banner-title{
        font-size: 36px;
    }
    .banner-container .banner-image img{
        width: 330px;
        height: 260px;
    }
    .top-players{
        margin-bottom: 60px;
    }
    .players{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin-top: 47px;
    }
    .copa-champ{
        margin-bottom: 60px;
    }
    .champ-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .champ-container .champ-image img{
        width: 330px;
        height: 250px;
    }
    .champ-title{
        font-size: 30px;
    }
    .ballon-dor{
        margin-bottom: 0px;
    }
    .ballon-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .ballon-container .winner-image img{
        width: 330px;
        height: 250px;
        margin-top: 5px;
    }
    .winner-title{
        font-size: 30px;
    }
    .footer-container .footer-logo img{
        width: 250px;
        height: 60px;
    }
}
/* media query for tablet devices */
@media only screen and (min-width:689px) and (max-width:992px){
    .top-banner{
        height: 695px;
    }
    .banner-container{
        flex-direction: column;
        align-items: center;
    }
    .banner-title{
        font-size: 50px;
    }
    .banner-container .banner-image img{
        width: 400px;
        height: 320px;
    }
    .top-players{
        margin-bottom: 70px;
    }
    .players{
        width: 100%;
        margin-top: 55px;
        grid-template-columns: repeat(2, 2fr);
        justify-items: center;
        grid-gap: 20px;
    }
    .copa-champ{
        margin-bottom: 70px;
    }
    .champ-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .champ-container .champ-image img{
        width: 590px;
        height: 400px;
    }
    .champ-title{
        font-size: 40px;
    }
    .ballon-dor{
        margin-bottom: 0px;
    }
    .ballon-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .ballon-container .winner-image img{
        width: 590px;
        height: 400px;
        margin-top: 5px;
    }
    .winner-title{
        font-size: 40px;
    }
    .footer-container .footer-logo img{
        width: 350px;
        height: 100px;
    }
}
